.accountContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.logo {
  margin-top: 78px;
  margin-bottom: 83px;
  box-shadow: 0px 0px 8px 0px var(--red);
}

.formBox {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: var(--box);
  border-radius: 20px;
  padding: 32px;
  box-shadow: 0px 0px 20px 0px var(--box-shadow);
}
.formBox * {
  font-size: 15px;
  line-height: 18.9px;
}
.formBox h1 {
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 40.32px;
  letter-spacing: -0.5px;
}

.formBox button {
  margin-top: 40px;
  border-radius: 6px;
  background-color: var(--red);
  padding: 14px 96.5px 15px 96.5px;
  border: none;
  cursor: pointer;
}
.formBox button:hover {
  background-color: var(--white);
  color: var(--semi-blue);
}

.formBox button, .formBox input {
  margin-bottom: 24px;
}

.formBox input {
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--grey-blue);
  padding: 0 0 18px 16px;
  caret-color: var(--red);
}
.formBox input:focus-visible {
  outline: none;
}

.formBox p {
  display: flex;
  justify-content: center;
}
.formBox span {
  color: var(--red);
  cursor: pointer;
}

.formBox .error {
  border: 1px solid red;
  border-radius: 8px;
  padding: 12px 0 6px 16px;;
}