.container {
  margin-top: 40px;
  margin-bottom: 10px;
}
.container h2 {
  margin-bottom: 32px;
}
#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px 32px;
}

.card {
  height: 226px;
  width: fit-content;
}

.imgContainer > img {
  border-radius: 8px;
}
.imgContainer {
  width: 280px;
  height: 174px;
  position: relative;
}
.imgContainer .bookmark {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(16, 20, 30, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 137px;
  font-size: 13px;
  line-height: 16.38px;
  opacity: .75;
  margin: 8px 0 5px 0;
}

.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22.68px;
}

@media only screen and (max-width: 1023px) {
  #gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 29px 24px;
  }
  .card {
    height: 192px;
  }
  .imgContainer, .imgContainer > img{
    width: 220px;
    height: 140px;
  }
}

@media only screen and (max-width: 375px) {
  #gallery {
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 29px 24px;
  }
  .card {
    height: 154px;
  }
  .imgContainer, .imgContainer > img{
    width: 164px;
    height: 110px;
  }
  .imgContainer .bookmark {
    top: 8px;
    right: 8px;
  }
}