.navContainer {
  padding: 32px;
  height: 100vh;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.nav, .nav > div, .iconBar {
  display: flex;
  flex-direction: column;
}

.nav {
  padding: 35px 28px 32px 28px;
  background-color: var(--semi-blue);
  width: fit-content;
  min-height: 100%;
  border-radius: 20px;
  justify-content: space-between;
}

.nav > div {
  align-items: center;
}

.nav img {
  cursor: pointer;
}

.logo {
  box-shadow: 0px 0px 15px 0px var(--red);
  border-radius: 5px;
}

.iconBar img, .avatar {
  box-shadow: 0px 0px 20px 0px var(--box-shadow);
}

.iconBar {
  margin-top: 75px;
}

.iconBar a {
  margin-bottom: 40px;
}

.iconBar img {
  background-color: rgba(255, 255, 255, .1);
}

.iconBar img:hover {
  filter: invert(100%) sepia(15%) saturate(1462%) hue-rotate(200deg) brightness(107%) contrast(103%);
  background-color: rgba(163, 163, 163, .5);
}

.avatar {
  border-radius: 50%;
}

@media only screen and (max-width: 1023px) {
  .navContainer {
    width: 100vw;
    height: auto;
    padding: 23px 24px 0 25px;
  }
  .nav {
    padding: 21px 16px 19px 24px;
    width: 100%;
    min-height: auto;
    justify-content: space-between;
  }

  .nav, .nav > div, .iconBar {
    flex-direction: row;
    align-items: center;
  }

  .nav > div {
    width: 100%;
  }
  .iconBar {
    margin: 0 auto;
    width: 173px;
    justify-content: space-between;
  }
  .iconBar > a {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  .navContainer {
    padding: 0;
    height: 100px;
  }
  .nav {
    border-radius: 0;
  }
}