.container {
  width: 100%;
}
.container > div {
  margin-top: 25px;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: grab;
}
.container > div::-webkit-scrollbar {
  display: none;
}

.card, .card > img{
  border-radius: 8px;
}

.card {
  position: relative;
  height: 100%;
  width: fit-content;
  margin-right: 40px;
  cursor: pointer;
}

.cardBody {
  position: absolute;
  top: 0;
  z-index: 1;
  padding: 16px 24px 24px 24px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.playButton, .playButton > div {
  justify-content: center;
  align-items: center;
}

.playButton {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 20, 30, .5);
}

.playButton > div {
  display: flex;
  padding: 9px 24px 9px 9px;
  background-color: rgba(255,255,255, .25);
  border-radius: 28.5px;
}
.playButton > div > img {
  margin-right: 19px;
}

.bookmarkContainer {
  width: 32px;
  height: 32px;
  background-color: rgba(16, 20, 30, .5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  position: relative;
  z-index: 2;
}

.textContainer .text {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  opacity: .75;
  font-size: 15px;
  line-height: 18.9px;
}
.textContainer .title {
  color: var(--white);
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}